<div class="user-profile-cover">
  <%= hidden_field_tag("profile-user-id", @profileUser.id) %>
  <div class="user-profile-cover-photo">
    <%= image_tag(@profileUser.coverphoto) %>
  </div>
  <div class="user-profile-cover-menu">
    <ul>
      <%= link_to(profile_path(@profileUser)) do %>
        <li class="first-tab" id="timeline">Timeline</li>
      <% end %>
      <%= link_to(profile_about_path(@profileUser)) do %>
        <li id="about">About</li>
      <% end %>
      <%= link_to(profile_friends_path(@profileUser)) do %>
        <li id="friends">Friends</li>
      <% end %>
      <%= link_to(profile_photos_path(@profileUser)) do %>
        <li id="photos">Photos</li>
      <% end %>
    </ul>
    <div class="user-profile-cover-main-photo">
      <%= image_tag(@profileUser.image) %>
    </div>
    <div class="user-profile-cover-name">
      <span><%= @profileUser.firstname %> <%= @profileUser.lastname %></span>
    </div>
  </div>
</div>
