<li id="post-<%= post.id %>">
  <div class="user-main-page-post">
    <%= hidden_field_tag("post-id", post.id) %>
    <div class="user-main-page-post-header">
      <%= image_tag(@user.image) %>
      <div class="user-main-page-header-after-img">
        <div class="user-main-page-header-after-img-wrapper">
          <h5><%= @user.firstname %> <%= @user.lastname %></h5>
          <h6><%= time_ago_in_words(post.created_at) %></h6>
        </div>
      </div>
    </div>
    <div class="user-main-page-post-inner">
      <p><%= post.content %></p>
    </div>
    <div class="user-main-page-post-footer">
      <div class="row">
        <div class="user-main-page-post-likes">
          <i class="far fa-thumbs-up"></i><span><%= post.post_likes.count %></span>
        </div>
        <div class="user-main-page-post-comments-count">
          <span><%= post.comments.count %></span><span> Comments</span>
        </div>
      </div>
      <div class="row">
        <div class="user-main-page-post-buttons">
          <div class="user-main-page-post-like-button column-6">
            <div class="user-main-page-post-buttons-wrapper">
              <i class="far fa-thumbs-up"></i> <span>Like</span>
            </div>
          </div>
          <div class="user-main-page-post-comment-button column-6">
            <div class="user-main-page-post-buttons-wrapper">
              <i class="far fa-comment-alt"></i> <span>Comment</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="user-main-page-post-comments">
      <div class="user-main-page-post-create-comment">
        <%= image_tag(@user.image) %>
        <div class="user-main-page-post-create-comment-input-wrap">
          <%= text_field_tag(:content, nil, placeholder: "Write a comment...") %>
        </div>
      </div>
    </div>
  </div>
</li>
