<header class="user-main-page-header">
  <div class="user-main-page-header-container">
    <div class="wrap-for-flex">
      <div class="row">
        <div class="user-main-page-header-search column-6">
          <div class="user-main-page-search-wrapper">
            <input type="text" placeholder="Search"></input>
            <button><i class="fas fa-search"></i></button>
          </div>
        </div>
        <div class="user-main-page-header-menu column-6">
          <ul>
            <li id="header-user-name">
              <div class="background first-background">
                <%= link_to(profile_path(@user)) do %>
                  <div class="user-header-profile">
                    <%= image_tag(@user.image, class: "user-main-page-header-image") %>
                    <div class="user-header-profile-name">
                      <span><%= @user.firstname %></span>
                    </div>
                  </div>
                <% end %>
              </div>
            </li>
            <li><div class="background">
              <%= link_to(home_path(@user)) do %>
                <span>Home</span></div></li>
              <% end %>
            <li><div class="background"><span><%= link_to("Find Friends", all_users_path) %></div></li>
            <li><div class="background"><span>Create</span></div></li>
            <li class="user-main-page-header-friend-requests"><i class="fas fa-user-friends"></i></li>
            <li><a href="#"><%= fa_icon("facebook-messenger", type: :fab) %></a></li>
            <li><a href="#"><%= fa_icon("bell", type: :fas) %></a></li>
            <li><a href="#"><%= fa_icon("question-circle", type: :fas) %></a></li>
            <li><a href="#"><%= fa_icon("sort-down", type: :fas) %></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
